@{

    ViewData["Title"] = "Home";

}

<h1>Welcome to the Library</h1>
<a asp-controller="Library" asp-action="NewCart">Get a Shopping Cart!</a>
<br />
<a asp-controller="Library" asp-action="AllProducts">All Products</a>
<br />
